* {
  padding: 0px;
  margin: 0px;
  user-select: none;
}

.button {
  width: 50px;
  height: 50px;
  font-size: 25px;
  margin: 4px;
  border: none;
  background-color: #23133a;
  color: #fff;
  cursor: pointer;
  border-radius: 45px;
  box-shadow: -2px 3px 7px black;
  text-align:center ;
}

.buttona {
  width: 50px;
  height: 50px;
  font-size: 25px;
  margin: 4px;
  border: none;
  background-color: #13233f;
  color: #fff;
  cursor: pointer;
  border-radius: 45px;
  box-shadow: -2px 3px 7px black;
}

.buttonb {
  width: 50px;
  height: 50px;
  font-size: 25px;
  margin: 4px;
  border: none;
  background-color: #031d03;
  color: #fff;
  cursor: pointer;
  border-radius: 45px;
  box-shadow: -2px 3px 7px black;
}

.buttonc {
  width: 50px;
  height: 50px;
  font-size: 25px;
  margin: 4px;
  border: none;
  background-color: #580f0f;
  color: #fff;
  cursor: pointer;
  border-radius: 45px;
  box-shadow: -2px 3px 7px black;
}

.buttond {
  width: 50px;
  height: 50px;
  font-size: 25px;
  margin: 4px;
  border: none;
  background-color: #192287;
  color: #fff;
  cursor: pointer;
  border-radius: 45px;
  box-shadow: -2px 3px 7px black;
}

.textview {
  width: 205px;
  margin: 5px;
  font-size: 25px;
  border: none;
  font-weight: bold;
  color: #1a0430;
  padding: 10px;
  border-radius: 15px;
  box-shadow: inset 1px 1px 10px 1px black;
}

.main {
  position: absolute;
  background: #1a0430;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  border-radius: 15px;
}

.bg {
  background: linear-gradient(#6e05ff, #100417);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

.button:hover {
  background-color: #593f8e;
  box-shadow: -2px 3px 7px black;
}

.buttonb:hover {
  background-color: #094e09;
  box-shadow: -2px 3px 7px black;
}

.buttonc:hover {
  background-color: #c32b2b;
  box-shadow: -2px 3px 7px black;
}

.buttond:hover {
  background-color: #2732af;
  box-shadow: -2px 3px 7px black;
}

.button:focus {
  outline: none;
}

.bottom-nav {
  position: absolute;
  top: 97%;
  left: 50%;
  transform: translate(-50%,-97%);
}
.bottom-nav span {
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #fff;
}
.bottom-nav ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}
.bottom-nav li {
  display: inline-block;
  margin: 5px;
}
.bottom-nav .ta {
  background-color: #235;
}
.bottom-nav .tb {
  background-color: #050;
}
.bottom-nav .tc {
  background-color: #f00;
}
.bottom-nav .td {
  background-color: #34f;
}
.bottom-nav span:hover {
  background-color: #0000008c;
}
