@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Changa:wght@500&family=Irish+Grover&family=Lobster&family=Luckiest+Guy&family=Montserrat:wght@600&family=Orbitron:wght@500;600&family=Pacifico&family=Permanent+Marker&family=Prompt:wght@500&family=Righteous&display=swap');

*{
    margin: 0;padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.loader{
 
    position: fixed;
    z-index: 999999999 !important;
    background: #3199da;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}
.disappear{
    animation: vanish 2s forwards;
}
@keyframes vanish{
    100%{
       opacity: 0;
     visibility: hidden;
    }
}

body{
    background: var(--dark);
    color:var(--light);
}

a{
    text-decoration: none;
}

html{
    scroll-behavior: smooth!important;
}

:root{
    --dark:#fff;
    --light:#222;
    --fill1:#30306e;
    --swiper-theme-color:#30306e;
    
}
.text{
    color: #ffffff80;
}
.text1{
    color: #222;
    font-weight: 700;
}
.text2{
    color: #fff;
    font-weight: 700;
}
.color-switcher{
    position: fixed;
    top: 0; right:-235px;
    width: 225px;
    /*height: 100%;*/
    background: #6c737D;
    z-index: 1000;
}

.color-switcher.active{
    right: 0;  
}
.color-switcher h3{
    color:  #a7aeb8;
    background-color: var(--light);
    font-size: 15px;
    margin-bottom: 10px;
    right: 0;
    font-weight: bold;
}
.color-switcher .switcher-btn{
    position: absolute;
    top: 5rem; left: -64px;
    color: var(--light);
    background-color: var(--light);
    padding-right: 27px;
    cursor: pointer;
    font-size: 25px;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
    box-shadow: #222 3px;
   
}
.color-switcher .switcher-btn i{
    color: var(--dark);
    animation: rotate 2s linear infinite ;
}
@keyframes rotate {
    100%{
        transform: rotate(360deg);
    }
}
.color-switcher .theme-buttons-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
}
.color-switcher .theme-buttons-container .theme-button{
    display: block;
    cursor: pointer;
    text-align: left;
    color: var(--light);
    font-size: 15px;
    height: 50px;
    border: none; 
}
.navbar{
    font-family: 'Special Elite', cursive;
}
.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.55);
    border: none;}

 .navbar-collapse{
    text-align: center;
 }   
 .navbar .btn a{
     color: #fff;
 }
 .rang{
     color: #fff;
 }
/*--------------------------------*/
.showcase {
    height: 86vh;
   background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("../images/h1_hero.jpg");
   background-position: center;
   background-size: cover;
  }

.showcase h2 {
    text-align: center;
    padding-top: 4.3rem!important; 
    font-family: 'Righteous', cursive;
}


/*----------------------------*/
.showcase .body span{

    font-size: 4rem;
    font-family: 'Dancing Script', cursive;
    color: #faea06;
    text-shadow: 0px 1px 2px #333;
    background-color: none;
}
.showcase .body h1{
    font-size: 4rem;
    color: #fff;
}
.showcase form.search-box{
    display: flex;
    justify-content:center;
    align-items: center;
   
}
.showcase form.search-box .input-form input{
    height: 3rem;
    width: 100%;
    color: #777777;
    font-size: 18px;
    font-weight: 400;
    padding: 9px 33px 9px 32px;
    border: none;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    position: relative;
}
.showcase form.search-box .select-items .form-select{
    font-size: 18px;
    color: #777777;
    height: 3rem;
    width: 100%;
    border-radius: 0;
    padding: 11px 100px 11px 34px;
}

.showcase form.search-box .select-form a{
     height: 3rem;
     text-decoration: none;
     color: #fff;
     display: block;
     background-color: #468ffc;
     text-align: center;
     padding:  12px 35px;
     border-top-right-radius: 50px;
     border-bottom-right-radius: 50px;
}
/*------------------book now--------------------*/
.heading , .heading1{
    text-align: center;
}
.heading span ,
.heading1 span{
    font-size:2rem ;
    font-weight: 600;
    background-color: #92b6ec;
    color: #000080;
    padding: .1rem .7rem;
    border-radius: .5rem;
}
.heading span.space{
    background: none;
}
.booki{
    padding: 10px 20px;
}
 #book p{
    font-family: 'Hind Guntur', sans-serif;
 }
/*------------------*/
.size{
    font-size: 30px;
}
/*-------------packages-------------*/
#change{
    background-image: url("../images/bglight1.jpg");
    background-attachment: fixed;
    background-size: cover;
}
.package .card{
    color: #fff;
  /*  backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);*/
  background: rgba( 33, 35, 104, 0.4 );
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    overflow: hidden;
   
}
    .fill{
    color: #468ffd;
}
.package .card img{
    cursor: pointer;
    border-radius: 11px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    transition: transform 3s, filter 3s ease-in-out;
    
}
.package .card img:hover{
    filter: brightness(100%);
    transform:scale(1.1);
}
.package .card-body{
    overflow: hidden;
}
.btn-color{
    background-color: navy;
    color: #fff;
    border: 2px solid navy;
}
.btn-color:hover{
 background-color: #92b6ec;
 color: navy;
}
.btn-color1{
    background-color: #fff;
    color: navy;
    border: 2px solid navy;
}
.btn-color1:hover{
    background-color:#92b6ec;
    color:navy;
}
.btn-color2 {
    background-color:navy;
    color: #fff!important;
    border: 2px solid navy;
}
.btn-color2:hover{
    background-color:#92b6ec;
   
}
.package .card .special{
    width: 5rem;
    font-size: 15px;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    right: 18px;
    top: 15px;
    color: #fff;
    
}
.package .card .special p{
    margin: auto 4px;
}
.package p{
    font-family: 'Palanquin Dark', sans-serif;
}
/*--------services-----------*/

.services .card{
    overflow: hidden;
    position:relative;
    height: 14rem!important;
    border: none;
    transition: .5s top ease-in;
    cursor: pointer;
    border-radius:10px;
    overflow: hidden;
}
.services .card img{
    transition: 2.5s ease-in-out;
}

.services .card:hover img{
    transform: scale(1.2);
}
 .services .card .card-img{
    background: rgb(0, 0, 0);
    opacity: 0.4;
    position: absolute;
    transition: .5s ease;
 }
 .services .card .card-img-overlay{
     position: relative;
     justify-content: center;
     align-self: center;
     left: 0;
     top:0;
     width: 100%;
     text-align: center;
 }

/*-------gallery--------*/
.gallery .card {
    height: 18rem!important;
    border: none;
    border-radius: 10px!important;
}
.gallery .card img{
    border-radius: 10px;
    background: rgb(0, 0, 0);
    opacity: 0.9;
    position: absolute;
}
.gallery .center .card{
    height:8.8rem!important;
}
.gallery .card .first{
    position: absolute;
    left: 0;
    bottom: 0;
    display: none;
    color: #fff;
    width: 8rem;
     border-radius: 5px;
    text-align: center;
    
}
.gallery .card:hover img {
    background: rgb(0, 0, 0);
    opacity: 0.3;
    transition: .5s all ease-in-out;
    overflow: hidden;
       }
       
.gallery .card:hover .first{
    display: block;
    color: #fff;
    transition: 1s all ease-in-out;
           
       }
.size1{
 font-size: 20px;
    }      
/*-------newsletter-------*/
#news{
    background-image: url("../images/bglight1.jpg");
    background-size: cover;
    background-attachment: fixed;
}
.news{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.newsletter h4{
    color: var(--light);
}
.newstext1 input{
 border: none;
 border-top-right-radius: 0!important;
 border-bottom-right-radius: 0!important;
 width: 220px;
 height: 3rem;
 border-radius: 30px;
 padding-left: 20px;
}
.newstext2 .btn{
    height: 3rem!important;
    width: 100px;
    border-top-left-radius: 0!important;
    border-bottom-left-radius: 0!important;
    color: #30306e; 
    background: #55acee;
    font-weight: 700;
    border-radius: 30px;
}
.btn:focus{
 outline: none;
 border: none;
 box-shadow: none;
}

/*------review-----------*/
#review{
    background-image: url("../images/bglight1.jpg");
    background-size: cover;
    background-attachment: fixed;

}
.review .review-slider{
    padding-bottom: 2rem;
}
.review .box{
    padding: 2rem;
    text-align: center;
    box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
    border-radius: .5rem;
    background-color: #fff;
    color: #fff;
    backdrop-filter: blur(10px) saturate(135%);
    -webkit-backdrop-filter: blur(10px) saturate(135%);
    background-color: rgba(24, 54, 96, 0.58);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}
.review .box img{
    height: 13rem;
    width: 13rem;
    border-radius: 50%;
    object-fit: cover;
   margin-bottom: 1rem;
}
.review p{
    font-family: 'Markazi Text', serif;
    font-size: 18px;
}

.swiper-pagination-bullet{
 background: var(--swiper-theme-color)!important;
}
/*----------------contact--------------*/

.fill1{
    color: var(--fill1);
}
.faq-header{
    display: flex;
    border-bottom: 2px solid #3b5998;
    color: var(--light);
    align-items: center;
    position: relative;
    cursor: pointer;
}
.faq-header .open ,.faq-header .close{
    position: absolute;
    right: -10px;
    padding: 0px 14px;
   font-size: 22px;
   font-weight: bold;
   transform: translateY(-6px);
   opacity: 0;
   transition: all 500ms;
}
.faq-header .open.active ,.faq-header .close.active{
 opacity: 1;
 transform: translateY(0);
}
.faq-header h5{
    font-size: 17px;
    padding: 17px 14px;
    margin-right: 2px;
   
}
.content{
    font-size: 14px;
    padding: 5px 25px;
    line-height: 2;
    max-height: 0;
    overflow: hidden;
    transition: all 500ms;
}
.content.active{
   max-height: 300px;

}

/*----------footer------------*/

footer {
    background: #f1f1f1;
    color: black;
    font-family: 'Aldrich', sans-serif;
}


.underline1{
    border-bottom: 2px solid #30306e;
    width: 70px;
}

.anc{
    color: black;
    text-decoration: none;
}
.anc:hover{
    color: gray;
}
.so1{
  text-decoration: none;
  color: #fff;
}
.so1:hover{
    text-decoration: none;
    color: #fff;
}
.so2{
    background-color: #3b5998;
    border-radius: 50%;
   width: 32px;
}

.so3{
    background-color:#55acee;
    border-radius: 50%;
}

.so4{
    background-color: #dd4b39;
    border-radius: 50%;
    width: 32px;
}

.so5{
    background-color: #ac2bac;
    border-radius: 50%;
    width: 32px;
}
.so6{
    background-color: #0082ca;
    border-radius: 50%;
    width: 32px;
}

.let{
    width: 75%;
    border-top-right-radius: 0;  
    border-bottom-right-radius: 0;
}
.in{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.sie{
    background-color: #222;
    color: #fff;
    font-family: 'Aldrich', sans-serif;
}
.log{
    border-left: 2px solid black;
}
.foot .cont p {
    font-size: 15px;
    word-wrap: break-word;
}
#btnScrollToTop{
    display: none;
    z-index: 99;
    background-color: #3b5998;
    height: 3.5rem;
    width: 3.5rem;
    color: #fff;
    position: fixed;
    border-radius: 50%;
    right: 20px;
    bottom: 88px;
    outline: none;
    border: none;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
    cursor: pointer;
}
#btnScrollToTop:active{
    background: #92b6ec;
}

/*---------------------*/
@media(max-width:300px){
    .showcase form.search-box .select-form a{
       font-size:9px;
        height: 1.5rem;
        padding: 8px 12px 17px 13px!important;

    }.showcase form.search-box .input-form input{
        font-size: 9px!important;
        height: 1.5rem!important;
       padding: 13px 12px 10px 12px;
      
    }
    .showcase form.search-box .select-form .select-items .form-select{
        display: none;
    }
    .heading span{
        font-size: 1rem;
        padding: .1rem .4rem;
    }
    .heading1 span{
        font-size: 1rem;
        padding: .1rem .4rem;
    }

    .newstext1 input{
        font-size: 14px;
        width: 150px!important;
        border-top-right-radius: 0;
 border-bottom-right-radius: 0;
    }
    .newstext2 .btn{
        text-align: center;
       width: 60px!important;
       border-top-left-radius: 0;
       border-bottom-left-radius: 0;
    }
    .cont .mail{
        font-size: 15px!important;
    }
}
@media(max-width:400px){
    .cont .mail{
        font-size: 15px!important;
    }
}
@media(max-width:518px){
.showcase img{
        height: 70vh;
        width: 100%;   
    }   
    .heading span{
        font-size: 1rem;
        padding: .4rem .6rem;
    }
    .heading1 span{
        font-size: 1rem;
        padding: .3rem .5rem;
    }

    .review .box{
        width: 18rem;
        margin: auto;
    }
    .review .box img{
        width:8rem;
        height:8rem;
    }
    
    .showcase form.search-box .input-form input{
        font-size: 14px;
       
        padding: 13px 12px 10px 26px;     
         
    }
    .showcase form.search-box .select-form .select-items .form-select{
        display: none;
    }

    .showcase form.search-box .select-form a{
      
        padding: 8px 12px 17px 13px
    }
    .newstext1 input{
        width: 180px;
        border-top-right-radius: 0;
 border-bottom-right-radius: 0;
    }
    .newstext2 .btn{
        text-align: center;
       width: 90px;
       border-top-left-radius: 0;
       border-bottom-left-radius: 0;
    }
    .cont .mail{
        font-size: 15px!important;
    }
}
@media(max-width:999px){
    .showcase .body span{
        font-size: 1.5rem;
    }
    .showcase .body h1{
        font-size: 1.5rem;
    }
   
    .showcase form.search-box .select-form .select-items .form-select{
        padding: 11px 54px 11px 28px;
    }

    .showcase form.search-box .select-form a{
        padding: 13px;
      
    }
}
@media(max-width:789px){
    .cont .mail{
        font-size: 10px;
    }
}
/*--------------------*/
